/* ===== Base ===== */
.signal-stack-group {
  position: fixed;
  left: 1rem;
  right: 1rem;
  z-index: 50;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 32rem;
  flex-direction: column;
  gap: 0.5rem;
}

/* ===== Position ===== */
.signal-stack-group--top {
  top: 1rem;
}

.signal-stack-group--bottom {
  bottom: 1rem;
}
