@import 'tailwindcss';
@import './assets/fonts/poppins/poppins.css';
@import './assets/fonts/telkomsel-batik-sans/telkomsel-batik.css';

:root {
  --default-font-family: Poppins, serif;
}

html,
body {
  font-family: Poppins, serif;
  margin: 0;
  padding: 0;
  background: #ecf3fb;
  color: #4e5764;
  height: 100%;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

@layer utilities {
  .translate-y-full {
    transform: translateY(100%);
  }

  /* Smooth transitions for transform and opacity */
  .transition-all {
    transition-property: all;
  }

  .duration-300 {
    transition-duration: 300ms;
  }
}
